<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="card " style="width:25rem;">
            
            <img class="card-img-top " src="https://lumiere-a.akamaihd.net/v1/images/image_8c4aa72b.jpeg">
            
            <div class="card-body">
            
            <h5 class="card-title">Deadpool</h5>
            
            <p class="card-text">Starring Ryan Reynolds as Deadpool, this movie is about A wisecracking mercenary gets experimented on and becomes immortal but ugly, and sets out to track down the man who ruined his looks</p>
            
            <a href="https://www.rottentomatoes.com/m/deadpool" class="btn btn-outline-primary btn-sm">Visit link to check out reviews.</a>
            
            </div>
            
            </div>
            
            </div>

            <div class="col-6">

                <div class="card" style="width:25rem;">
                
                <img class=" card-img-top" src="https://upload.wikimedia.org/wikipedia/en/9/9e/Captain_America_The_Winter_Soldier_poster.jpg" alt="">
                
                <div class="card-body">
                
                <h5 class="card-title">Captain America: The Winter Soldier</h5>
                
                <p class="card-text">Starring Chris Evans as Captain America, As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat from history: an assassin known as the Winter Soldier.</p>
                
                <a href="https://www.rottentomatoes.com/m/captain_america_the_winter_soldier_2014" class="btn btn-outline-primary btn-sm">Visit link to check out some of the reviews. </a>
                
                </div>
                
                </div>
                
                </div>
                <div></div>
  
    </div>
</div>

