* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image:url(TigerFace.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.links {
    flex: 1;
    text-align: right;

}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.links ul li:hover::after{
    width: 100%;

}

.text-box {
    width: 90%;
    color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}

/*---- animal ----*/
.animal {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;  
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.animal-col{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.animal-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}

.tiger-header{
    height: 50vh;
    width: 100%;
    background-image: url(TigerFace.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.tiger-header h1{
    margin-top: 100px;

}

.about-tiger{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.polar-header{
    height: 50vh;
    width: 100%;
    background-image: url(PolarBear2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.polar-header h1{
    margin-top: 100px;

}

.about-polar{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.giraffe-header{
    height: 50vh;
    width: 100%;
    background-image: url(giraffe.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.giraffe-header h1{
    margin-top: 100px;

}

.about-giraffe{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.penguin-header{
    height: 50vh;
    width: 100%;
    background-image: url(epenguin.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.penguin-header h1{
    margin-top: 100px;

}

.about-penguin{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}