<app-header></app-header>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://lumiere-a.akamaihd.net/v1/images/image_8c4aa72b.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Deadpool</h5>
    <p class="card-text">Starring Ryan Reynolds as Deadpool, this movie is about A wisecracking mercenary gets experimented on and becomes immortal but ugly, and sets out to track down the man who ruined his looks.</p>
    <a href="https://www.rottentomatoes.com/m/deadpool" class="btn btn-primary">Review of Deadpool</a>
  </div>
</div> -->


<app-card></app-card>

<app-card2></app-card2>
